body{
    margin:0;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    /*background-image:url('https://i.pinimg.com/736x/ea/68/b8/ea68b83126e637a9b78b10f4332c5d7c.jpg');*/
    background-image:url('https://i.pinimg.com/1200x/56/2b/20/562b20256af2ce123846c7d95ea68595.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    
    font-family:Arial, sans-serif;
    font-style:normal;
    font-weight:bold;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:40px;
    margin:20px;

    width:90%;
    max-width:500px;
    gap:20px;

    border:4px solid #7a0bcc;
    border-radius:20px;
    box-shadow:0 0 15px #7579ff;

    backdrop-filter:blur(10px);
}

h1{
    color:purple;
    text-shadow:0 0 10px purple;
}

input{
    margin:6px 0 20px 0;
    padding:10px 5px;

    color:pink;
    background:transparent;

    border:1px solid #7a0bcc;
    border-radius:12px;
    box-shadow:0 0 10px #7579ff;

    width:100%;
    max-width:350px;
    box-sizing:border-box;
    outline:none;

    transition:box-shadow 0.3s ease, border 0.3s ease;
}

input:focus{
    border:1px solid #b84cff;
    box-shadow:0 0 12px #7579ff;
}

input[type="file"]::file-selector-button{
    background:transparent;
    border-radius:6px;
    border:none;
    
    box-shadow:0 0 1px purple;
}


.btn1{
    padding:10px 20px;
    width:100%;
    max-width:250px;
    
    background:transparent;
    color:pink;

    border:1px solid #7a0bcc;
    border-radius:10px;
    box-shadow:0 0 10px #0006c9;

    cursor:pointer;
    
    transition:transform 0.3s ease, box-shadow 0.3s ease;
}

.btn1:hover{
    transform:scale(1.05);
    box-shadow:0 0 12px purple;
}

.original, .compress{
    color:purple;
    text-shadow: 0 0 10px purple;
}

.loading{
    color:purple;
    font-style:italic;
    font-weight:bold;
    font-size:22px;
}

@media (max-width: 748px) {
    .container {
        width: 95%;
        padding: 20px;
        gap: 15px;

        border-width: 2px;
        box-shadow: 0 0 10px #7579ff;
    }
    h1{
        font-size:1.5rem;
        text-align:center;
    }
}
